<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Easy Travel</title>
    <link rel="stylesheet" href="about_us.css" />
  </head>
  <body>
    <div class="container">
      <div class="logoText">
        <img src="../../images/logo-s.png" alt="logo" class="logo" />
        <span><i>TravelBloom</i></span>
      </div>

      <nav class="navbar">
        <a href="../HomePage/home_page.html" class="navbar_item">Home</a>
        <a href="./about_us.html" class="navbar_item">About Us</a>
        <a href="../../components/" class="navbar_item">Contact Us</a>
      </nav>
    </div>

    <main>
      <div class="about_page">
        <div class="about_page_content">
          <div class="about_title">
            <h1>ABOUT US</h1>
          </div>
          <div class="about_description">
            <span
              >Welcome to Our Company! We are a team of passionate individuals
              dedicated to providing excellent services/products to our
              customers. Our mission is to
              <b>provide the best experience</b> for people travelling to
              different destinations around the world.<br />
              Our values include integrity, innovation, customer satisfaction,
              and teamwork. We believe in <b>putting our customers first</b> and
              <b>working together</b> to achieve our goals. <br />
              Feel free to explore our website to learn more about what we
              offer!
            </span>
          </div>
          <div class="about_team">
            <div class="about_team-title">
              <h2>Our <br>Team</h2>
            </div>
            <div class="about_person">
              <div class="card">
                <div class="card_items">
                  <img
                    src="../../images/profile.png"
                    alt="person"
                    class="person_img"
                  />
                  <div class="card_name">John Doe</div>
                  <div class="card_info">John is responsible<br> for...</div>
                  <button class="cardBtn">CEO</button>
                </div>
              </div>

              <div class="card">
                <div class="card_items">
                  <img
                    src="../../images/profile.png"
                    alt="person"
                    class="person_img"
                  />
                  <div class="card_name">Celina Thomas</div>
                  <div class="card_info">Celina Thomas is responsible<br> for...</div>
                  <button class="cardBtn">Team Lead</button>
                </div>
              </div>

              <div class="card">
                <div class="card_items">
                  <img
                    src="../../images/profile.png"
                    alt="person"
                    class="person_img"
                  />
                  <div class="card_name">Mike Tysen</div>
                  <div class="card_info">Mike Tysen is responsible<br> for...</div>
                  <button class="cardBtn">Delivery Head</button>
                </div>
              </div>
            </div>
          </div>
          <div class="social">
            <a href="http://twitter.com"
              ><img
                src="../../images/twitter_colored.svg"
                alt="twitter"
                class="link"
            /></a>
            <a href="http://facebook.com"
              ><img
                src="../../images/facebook_colored.svg"
                alt="facebook"
                class="link"
            /></a>
            <a href="http://instagram.com"
              ><img
                src="../../images/instagram_colored.svg"
                alt="instagram"
                class="link"
            /></a>
            <a href="http://youtube.com"
              ><img
                src="../../images/youtube_colored.svg"
                alt="youtube"
                class="link"
            /></a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
